## Directory-based project format:
.idea/

### Vagrant ###
.vagrant/

### Laravel ###
vendor/
node_modules/

# Laravel 5 & Lumen specific
bootstrap/cache/
storage/
.env

### Composer ###
composer.lock

public/css
public/fonts
public/images